<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
 <link rel="stylesheet" href="/css/style.css">
 <!--<link rel="stylesheet" href="/css/pure-min.css">-->
    <link rel="stylesheet" href="/css/purestyle.css">
</head>
<body>

<div id="layout">
  <!-- Menu toggle -->
    <a href="#menu" id="menuLink" class="menu-link">
        <!-- Hamburger icon -->
        <span></span>
    </a>

     {% include "navmenu.njk" %}
  
  <div id="main">

  <div id=head class="header" style="padding-left: 0px; padding-right: 0px; " >
  <div class="banner" id="welcomeimg" >

  <!--<img src="/images/banner.jpg" width="1024" height="300">-->
 
     <h1 style="color:#fff">{{ pageTitle }}</h1>

     </div>
  </div>
    <div class="content">
     {{ content | safe }}
     </div>
  </div>
</div>

<script src="/scripts/ui.js"></script>
</body>
</html>