<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
<link href="http://www.kingstonregatta.co.uk/style.css" rel="stylesheet" type="text/css">
</head>
<style>
.myButton {

	background-color:#9b2321;
	border:1px solid #9b2321;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:9px 23px;
	text-decoration:none;

}
.myButton:hover {
	background-color:#777777;
}
.myButton:active {
	position:relative;
	top:1px;
}
</style>
<body>
<div class="clear" />
<div id=header class="left" >
  <a href="/" class="myButton" >Home</a>
</div>
{{ content | safe }}
</body>
</html>