<!--<ul>
{% for article in collections.articles %}
<li><a href="{{article.url}}">{{ article.data.title }}</a></li>
{% endfor %}
</ul>-->




<div id="menu">
    <div class="pure-menu">
         <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
         </ul>

           <!-- <li class="pure-menu-item">-->
              <button  class="dropdown-btn"><a class="pure-menu-buttonlink" href="/events_and_competitors/" >Events & Competitors</a>
              <i id="button" class="fa fa-caret-down"></i>
            </button>
          <!--</li>-->
            <div class="dropdown-container ">
              <a class="pure-menu-link pure-menu-sublink" href="/regulations/">Regulations</a>
              <a class="pure-menu-link pure-menu-sublink" href="/instructions/">Access & Reporting</a>
              <a class="pure-menu-link pure-menu-sublink" href="/access/">Trailer Access</a>
              <a class="pure-menu-link pure-menu-sublink" href="/safety/">Safety</a>
              <a class="pure-menu-link pure-menu-sublink" href="/circulation/">Circulation on<br>the Water</a>
              <a class="pure-menu-link pure-menu-sublink" href="/child-protection/">Child Protection</a>
              <a class="pure-menu-link pure-menu-sublink" href="sprinteights">Sprint Eights</a>
              <a class="pure-menu-link pure-menu-sublink" href="victor-ludorum">Victor Ludorum</a>
            </div>
         
         <ul class="pure-menu-list">
         
            <li class="pure-menu-item"><a href="/spectators/" class="pure-menu-link">Spectators</a></li>
            <li class="pure-menu-item"><a href="/lunches_and_hospitality/" class="pure-menu-link">Lunches & Hospitality</a></li>
            <li class="pure-menu-item"><a href="/sponsors_and_supporters/" class="pure-menu-link">Sponsors & Supporters</a></li>
            <li class="pure-menu-item"><a href="/gallery/" class="pure-menu-link">Photo Gallery</a></li>
            <li class="pure-menu-item"><a href="/history/" class="pure-menu-link">History</a></li>
            <li class="pure-menu-item"><a href="/draw_and_results/" class="pure-menu-link">Draw & Results</a></li>
         
            
            <li class="pure-menu-item"><a href="/contacts/" class="pure-menu-link">Contacts</a></li>
        </ul>
    </div>
</div>

<script>
    /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
    var dropdown = document.getElementsByClassName("dropdown-btn");
    var i;
    
    for (i = 0; i < dropdown.length; i++) {
      dropdown[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
      dropdownContent.style.display = "none";
      } else {
      dropdownContent.style.display = "block";
      }
      });
    }

    function navReset(){
      for (i = 0; i < dropdown.length; i++) {
        dropdown[i].nextElementSibling.style.display = "none";
      }
    }

    window.onload = (event) => {
   //   var title = document.getElementsByTagName("title")[0].innerHTML;
 //     var title = document.title;
      var nav = document.getElementById("nav").innerHTML;;
  //    alert(nav);
      if (nav == '1'){
       navReset();
      }
};


    </script>