<!--<ul>
{% for article in collections.articles %}
<li><a href="{{article.url}}">{{ article.data.title }}</a></li>
{% endfor %}
</ul>-->
<div id="menu">
    <div class="pure-menu">
         <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="/" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="/events_and_competitors/" class="pure-menu-link">Events & Competitors</a></li>
            <li class="pure-menu-item"><a href="/spectators/" class="pure-menu-link">Spectators</a></li>
            <li class="pure-menu-item"><a href="/lunches_and_hospitality/" class="pure-menu-link">Lunches & Hospitality</a></li>

        </ul>
    </div>
</div>