		    <div>
			  <a href="compet.htm"					>	Events						</a> : 
			  <a href="regulations.htm"				>	Regulations					</a> :
			  <a href="instructions.htm"			>	Access and Reporting		</a> : 
			  <a href="access.htm"					>	Trailer Access				</a> :
			  <a href="safety.htm"					>	Safety						</a> : 
			  <a href="circulation.htm"				>	Circulation on the Water	</a> : 
			  <a href="child-protection.htm"		>	Child Protection			</a> :
			  <a href="sprinteights.htm"		    >	Sprint Eights				</a> : 
			  <a href="victor-ludorum.htm"		    >	Victor Ludorum				</a>
			</div>