* {
  margin: 0;
  padding: 0;
  border: 0;
	text-decoration: none;
}
body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	font-weight: normal;
	color: #666666;
	text-align:center;
}
h1 {
  font-size: 2.0em;
	color: #3399CC;
	text-align:right;
	margin-top: 1em;
	margin-bottom: 0.5em;
}  
h2 {
  font-size: 1.8em;  
	color: #3399CC;
	margin-top: 1em;
	margin-bottom: 0.5em;
}  
h3 {
  font-size: 1.6em;
	color: #3399CC;
	text-align:left;
	margin-top: 1em;
	margin-bottom: 0.5em;
}  
h4 {
  font-size: 1.4em;
	color: #3399CC;
	margin-top: 1em;
	margin-bottom: 0.5em;
}  
h5 {
  font-size: 1.2em;
  font-weight:bold; 
	color: #3399CC;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
p {
  margin-top: 11px;
  margin-bottom: 5px;    
}
hr {
  margin-top: 11px;
  margin-bottom: 5px;    
}
em {
  font-style:italic;
}
li {
	text-align:justify;
}
a:link {
	font-weight: bold;
	color: #B5AE13;
}
a:visited {
	font-weight: bold;
	color: #B5AE13;
}
a:hover {
	color: #0366AA;
}
a:active {
	font-weight: bold;
	color: #B5AE13;
}
strong{
	color: #666666;
	font-weight: bold;
}
ul ul li {
  margin-left:4em;
}
.r {
	border-right: 1px #3399CC solid;
}
.b {
	border-bottom: 1px #3399CC solid;
}
.clear {
  clear:both;
}
.right {
  float: right;
}
.left {
  float: left;
}
.subTitle {
  font-size: 1.2em;
  font-weight:bold; 
	color: #3399CC;
}
.subTitle4 {
  font-size: 1.4em;
  font-weight:bold; 
	color: #3399CC;
}
.smallTitle {
  font-size:1.2em;
  font-weight:bold;
  Font-color:#666666;
}
.capTxt {
	text-transform: uppercase;
	font-weight: bold;
}
.urgentMessage {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #339933;
	padding: 8px;
	line-height: 20px;
}
.imgLeft {
	float:left;
	margin-top: 6px;
	margin-right: 12px;
	margin-bottom: 4px;
	margin-left: 0px;
}
.imgRight {
	float:right;
	margin-top: 6px;
	margin-right: 0px;
	margin-bottom: 4px;
	margin-left: 12px;
}
.imgLeft img {
	padding: 1px;
	border: 1px solid #000000;
	margin-bottom: 2px;
}
.imgRight img {
	padding: 1px;
	border: 1px solid #000000;
	margin-bottom: 2px;
}
.redBox {
	background-color: #FF0000;
	color           : #FFFFFF;
	margin-top: 1em;
	font-weight: bold;
	font-size: 1.2em;
	padding: 8px;
	width: 140px;
	height: 140px;
	margin-left:auto;
	margin-right:auto;
	vertical-align:middle;
}
.blueBox {
  text-transform: uppercase;
	background-color: #0066AA;
	color           : #FFFFFF;
	font-weight: bold;
	font-size: 1.2em;
	line-height: 2em;
	padding: 8px;
	width: 400px;
	border: thick solid #3399CC;
	margin-left:auto;
	margin-right:auto;
}
.blueBox em{
	color: #FFFFFF;
	font-size: 1.2em;
	line-height: 2em;
}
.mediumBox {
	border: 4px solid #3399CC;
	padding: 10px;
	margin-left:auto;
	margin-right:auto;

}
.blackTrimBox {
	border: 4px solid #000000;
	padding: 10px;
	margin-left:auto;
	margin-right:auto;
}
.dottedBox {
	border: 1px dotted #3399CC;
	margin: 10px;
	padding: 5px;
}
.circle {
	width: 10em; height: 10em; 
    -webkit-border-radius: 5em; 
    -moz-border-radius: 5em;
}
#wrapper {
	width: 1024px;
	margin-right: auto;
	margin-left: 0px;
}
#header {
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 6px;
	margin-left: 0px;
	text-align: left;
}
#content {
	width: 100%;
	margin-top: 16px;
}
#leftbar {
	width: 180px;
}
#leftbar ul {
	margin-top: 20px;
}
#leftbar li {
	background-image: url(Images/menuBack.gif);
	background-repeat: no-repeat;
	background-position:  -4px 50%;
	margin-top: 2px;
	margin-bottom: 2px; padding-left:12px; padding-right:0px; padding-top:4px; padding-bottom:4px;
}
#main {
	margin-left: 10px;
	margin-right: 10px;
  width: 660px;
}
#main li {
	margin-top:1em;
	margin-left:3em;
}
#sponsors {
  width:150px;
}
#sponsors img {
	margin: 5px 0px;
}
#footer {
	clear: both;
	width: 100%;
	margin-top: 20px;
	padding: 12px 0px 8px;
	text-align: center;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #0066AB;
}


